body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.clicker {
    width: 598px; 
    height: 800px; 
    cursor: pointer; 
    border-width: 5px;
    border-radius: 25%;
    background-image: url('../clicker/self-portrait-2.webp');
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.clicker:hover {
    background-color: yellow;
}
.clear {
    width: 200px; height: 50px; font-size: 20pt
}
.clear:hover {
    background-color: red;
}
.save {
    width: 200px; height: 100px; font-size: 50pt
}
.save:hover {
    background-color: skyblue;
}
.shop {
    padding: 10px 20px; font-size: 20px;
}